@charset "utf-8";

body {
  margin:0;
}

/*font*/
h1,h2,h3,h4,nav {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-align: center;
}

h1 {
  text-transform:uppercase;
  color:#fed136;
  font-size:24px;
  vertical-align: middle;
  padding-left: 50px;
  font-weight:bolder;
}

h2 {
  padding-top: 20px;
}

p {
  font-family: 'Roboto Slab', serif;
  color:grey;
  font-size: 14px;
  text-align: center;
}



/*header*/

header {
  background-color: #212529;
  display: flex;
  justify-content:space-between;
  padding: 5 20px;
  position:sticky;
  top:0;
}

header nav ul {
	list-style-type:none;
	display:flex;
  justify-content: space-between;
  margin:0;
}

header nav a {
	text-decoration:none;
  text-transform:uppercase;
	color:#f8f9fa;
	font-size:16px;
	padding-top:20px;
	padding-bottom:20px;
  display:block;
	padding-left:20px;
	padding-right:20px;

}
nav a:hover {
	background-color:#fed136;
	color:#f8f9fa;
}

/*services (index)*/

#home {
  min-height:768px;
  background-image:url("https://fit-front-end-course.s3.amazonaws.com/images-hs/studio-website/header-bg.jpg");
  background-size:cover;
  text-align: center;
}

#home h2 {
  color:white;
  font-size: 48px;
  font-weight:bolder;
  font-family
}

#home p {
  color:white;
  font-size:36px;
  padding-top: 150px;
}




/*common*/


.button {
  background-color:gold;
  border:none;
  color:white;
  padding:20px 32px;
  text-align:center;
  font-size: 16px;
  border-radius: 5px;
  margin:20px;
  cursor: pointer;
}


 section {

   width:90%;
   margin: 10px auto 20px auto;
   display:flex;
   justify-content: center;
   flex-wrap: wrap;

 }
 section div {
    flex:1;
    text-align: center;
    margin-top: 20px;
    padding:20px;
  }

 section h2 {
   display:block;
   width:100%;
   text-align: center;
 }


 .italic {
   width:100%;
   font-style:italic;
   font-family: serif;
   text-align: center;
   font-size: 18px;
 }




/*about*/
#about {
  width:860px;
  margin: 40px auto 40px auto;
  background-image: linear-gradient(#D3D3D3, #D3D3D3);
  background-size: 2px 100%;
  background-repeat: no-repeat;
  background-position: center center;
}
#about div {
  padding:20px;
  margin: 0px auto 0px auto;
  align-items: center;

}

#about img {
  width:180px;
  border-radius:50%;
  border-style: solid;
  border-color: lightgrey;
  border-width: thick;
}

.left h3 {
  text-align: right;
  margin-top: 0px;
  margin-bottom: 5px;
}

.left h4 {
  text-align: right;
  margin-top: 0;
  margin-bottom: 5px;
}

.left p {
  text-align: right;
}

.right h3 {
  text-align: left;
  margin-top: 0px;
  margin-bottom: 5px;
}
.right h4 {
  text-align: left;
  margin-top: 0;
  margin-bottom: 5px;
}

.right p {
  text-align: left;
}
#circle {
  display:block;
  background-color: #fed136;
  width: 180px;
  height: 180px;
  border-radius:50%;
  border-style: solid;
  border-color: lightgrey;
  border-width: thick;
  margin-left: auto;
  margin-right: auto;

}

#circle p {
  color:white;
  font-size: 24px;
  text-align: center;
  padding-top:28px;
}



/*team*/
.profile {
  border-radius:50%;
  border-style: solid;
  border-color: lightgrey;
  border-width: thick;
}



/*contct*/
#contact {
  background-color: #212529;
  background-image:url("https://fit-front-end-course.s3.amazonaws.com/images-hs/studio-website/map-image.png");
  background-size:cover;
  text-align: center;
  margin-bottom: 0;
}
#contact h2 {
  color: white;
  font-size: 32px;
  margin-bottom: 0;
}

form {
  width:900px;
  margin: 30px auto 30px auto;
  display:flex;
  flex-wrap: wrap;
}

form div {
  flex:1;
}


#info input {
  width:400px;
  height:50px;
  margin:10px;
  border-radius: 5px;

}

#message input {
  width:400px;
  height:200px;
  margin: 10px;
  border-radius: 5px;
}



/*footer*/
 footer {
   max-height:100px;
   border-top-style: solid;
   border-width: thin;
   display:flex;
   flex-wrap: wrap;
   text-align: center;
   margin-top:50px;

 }

footer div {
   flex:1
}
footer p {
  font-size: 12px;
}
 #terms {
   color:#fed136;
 }

 @media screen and (max-width:850px){

   header {
     flex-direction: column;
     position:static;
   }
   header nav ul {
     justify-content: center;
   }
   section {
     flex-direction:column;
   }
   #about {
     width:100%;
     background-image: none;
   }
   form {
     width:90%;
     flex-direction:column;
   }
}
